*{
  box-sizing: border-box;
   
}
:root{
    --theme-color: white;
    --primary-color: #124f88;
    --secundary-color: #4a83e6;
    --text-color-inverse: white;
    --text-color: black;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-background-color:#ade4f9 ;

}

/* Pantallas grandes*/

@media (max-width: 1400px) {
  html {
    /*font-size: 25px;*/
    scroll-behavior: smooth;
    max-width: 1400px; 
  }
  section[id]{
    scroll-margin-top: 2rem;
  }

  body{
    font-family: "Montserrat", sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 70px;
    
  }
  a{
    text-decoration: none;
    color: var(--text-color);
  }

  .horizontal-padding{
    padding-left: 70px;
    padding-right: 70px;
  }

   .vertical-padding{
    padding-top: 70px;
    padding-bottom: 70px;

   }
   .supercontenedor{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

}
/* Tabletas */

@media (max-width: 768px) {
 
  
    .horizontal-padding{
    
    padding-left: 12.5px;
    padding-right: 12.5px;
    }


  .vertical-padding{
    padding-top: 15px;
    padding-bottom: 15px;

  }
}

/* Celulares */

@media (max-width: 450px) {
  /*html {
    font-size: 12px;
  }*/
   
  .horizontal-padding{
    
    padding-left: 25px;
    padding-right: 25px;

  }

  .vertical-padding{
    padding-top: 30px;
    padding-bottom: 30px;

  }
}


