
/* Pantallas grandes */

@media screen and (max-width: 1400px) {
    .nosotros{
        display: flex;
        flex-direction: column;
    }
    .nosotros-body{
        background-color: var(--primary-color);
        color: var(--text-color-inverse);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .wave {
        width: 100%;
        position: relative;
        top: 2px;
        
    }
    .wave_bottom{
        transform: scaleY(-1);
        top: -2px;
    }
    .nosotros-titulo{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: clamp(1.563rem, 1.12rem + 1.863vw, 2.75rem);
        font-weight:700;
        margin: 25px;
        color: #fff;
    }
    .nosotros-textos{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: clamp(0.75rem, 0.447rem + 1.275vw, 1.563rem);
        font-weight:600;
        margin:30px;
        padding:0 50px;
        color: #fff;
    
    }
    .container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 100px 50px;
        padding: 100px 50px;
    }
    .container .card{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 300px;
        height: 250px;
        padding:0 5px;
        margin-left: -20px;
        background: #fff;
        border-radius:20px; 
        box-shadow: 0 35px 80px rgba(0,0, 0, 0.15);
        transition: o.5s;
    
    }
    .container .card:hover{
        height: 400px;
    
    }
    .container .card .imgBx{
        position: absolute;
        top: 20px;
        width: 250px;
        height: 170px;
        background: #333;
        border-radius: 12px;
        overflow: hidden;
        transition: 0.5s;
    }
    .container .card:hover .imgBx{
        top: -100px;
        scale: 0,75;
        box-shadow: 0 15px 45px rgba(0,0, 0, 0.2);
    }
    .container .card .imgBx img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .container .card .content{
        position: absolute;
        top: 190px;
        width: 90%;
        padding: 0 30px;
        height: 42px;
        overflow: hidden;
        text-align: center;
        transition: 0.5s;
    }
    
    .container .card:hover .content{
        top: 130px;
        height: 250px;
    
    }
    .container .card .content h2{
        font-size: clamp(0.625rem, 0.5rem + 0.571vw, 1rem);
        font-weight:700;
        color: var(--clr);
    }
    .container .card .content p{
        color: #333;
        font-weight: 600;
        font-size: clamp(0.6rem, 0.458rem + 0.19vw, 0.625rem);
        
    }
}
@media screen and (max-width: 1104px) {
        
    .container{
        gap: 38px 30px;
        padding: 90px 40px;
     }      
     .container .card{
         width: 300px;
         height: 200px;
         padding:0 10px;
         margin-left: -10px;    
     }    
     .container .card:hover{
         height: 350px;
     }  
     .container .card .imgBx{
         top: 12px;
         width: 240px;
         height: 140px;
     }    
     .container .card:hover .imgBx{
         top: -60px;
     }
     .container .card .content{
         position: absolute;
         top: 80%;
         width: 80%;
         padding: 0 30px;
         height: 30px; 
     }
     .container .card:hover .content{
         top: 40%;
         height: 1250%;
     }
}   
    
 /* Tabletas */

@media screen and (max-width: 768px) {
                
    
    .container{
       gap: 38px 30px;
       padding: 90px 40px;
    }      
    .container .card{
        width: 300px;
        height: 200px;
        padding:0 10px;
        margin-left: -10px;    
    }    
    .container .card:hover{
        height: 350px;
    }  
    .container .card .imgBx{
        top: 12px;
        width: 240px;
        height: 140px;
    }    
    .container .card:hover .imgBx{
        top: -60px;
    }
    .container .card .content{
        position: absolute;
        top: 80%;
        width: 80%;
        padding: 0 30px;
        height: 30px; 
    }
    .container .card:hover .content{
        top: 40%;
        height: 1250%;
    }
    

    
    
}        

/* Celulares */

@media screen and (max-width: 450px) {
    .container{
        gap: 22px 22px;
        padding: 90px 40px;
     }      
     .container .card{
         width: 250px;
         height: 150px;
         padding:0 10px;
         margin-left: -10px;    
     }    
     .container .card:hover{
         height: 250px;
     }  
     .container .card .imgBx{
         top: 12px;
         width: 200px;
         height: 100px;
     }    
     .container .card:hover .imgBx{
         top: -20px;
     }
     .container .card .content{
         
         top: 80%;
         width: 80%;
         height: 30px; 
     }
     
     
}      
        
    
    
    
           
    
        
    
        
        
          
     
   
             
           
       
       
     
       
       
        
        
    
    
    
    
    
    
    
    
    
  


      
    
    
    
    
  
    
  
  
     



    
    
    
    
    
    
    
    
    
    
        
    
        
    
   
        
        
      
               
        
    
   
    
    